span {
    color: red;
}

.title {
    text-align: center;
    color: orange;
    font-size: 30px;
    padding-top: 20px;
}

.back {
    width: 500px;
    background-color: antiquewhite;
    position: relative;
}

img {
    width: 150px;
    position: relative;
    left: 180px;
}

.txt {
    padding-left: 40px;
    padding-bottom: 20px;
}

h2 {
    text-align: center;
}

h3 {
    font-size: 15px;
}
