<html>
    <head>
        <title>Login.ejs</title> 
    </head>
    <body>
        <form method ="post" id="form_info">
            <input type="text" name="id" placeholder="ID" required><br><br>
            <input type="password" name="pw" placeholder="PW" required><br><br>

            <div id="set" style="color: red;"></div>
            <button type="button" onclick="sendForm()">LOGIN</button>
        </form>
    </body>
</html>