<html>
    <head>
        <title>Receive</title>
    </head>

    <body>
        이름 : <%=name%> <br>
        성별 : <%=gender%> <br>
        종목 : <%=sport%> <br>
        연도 : <%=year%>
    </body>
</html>


