<html>
    <head>
        <title>Practice_axios</title>
    </head>
    <body>
        <form action="/sign" method="POST" enctype="multipart/form-data">
            
            아이디 <input type="text" name="id" required><br><br>

            비밀번호 <input type="password" name="name" required><br><br>
            
            이름 <input type="text" name="name"><br><br>
            
            나이 <input type="number" name="num"><br><br>

            <input type="file" name="userfile">

            <button>회원가입</button>
        </form>
    </body>
</html>