<html>
    <head>
        <title>Login.ejs</title> 
    </head>
    <body>
        <form action="login" method ="POST">
            <input type="text" name="id" placeholder="ID"><br><br>
            <input type="password" name="password" placeholder="PW"><br><br>
            <button type="submit" class="login1">LOGIN</button>
        </form>
    </body>
</html>